---
---

$body-margin: 20px;
$max-width: 1000px;
$highlight: #ff7178;

@import 'reset';
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'utils';

$tablet: new-breakpoint(min-width 768px 8);
$desktop: new-breakpoint(min-width 1000px 12);

html {
  @include linear-gradient(111deg, #ff5f84, #ffb848);
}

body {
  padding: 100px $body-margin;
  font-family: 'Roboto Slab';
  font-weight: 300;
  font-size: 26px;
  @include media($tablet) {
    @include outer-container;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
  color: #fff;
  strong {
    @extend .strong;
  }
}

h1 {
  letter-spacing: 0;
  font-size: 70px;
  font-weight: 900;
}

header {
  h1, h2 {
    margin: 0;
    line-height: 100%;
    color: #fff;
    strong {
      @extend .strong;
    }
  }
  h2 {
    margin: 30px 0;
  }
}

hr {
  background-color: #000;
  border: none;
  height: 1px;
  width: 100%;
  margin: 30px 0;
}

.lead {
  color: #fff;
  margin: 50px 0;
  strong {
    @extend .strong;
  }
}

.portfolio {
  position: relative;
  overflow: auto;
  ul { padding: 0; }
  .content-wrapper {
    display: none;
    color: #000;
    @include media($tablet) {
      display: none !important;
    }
  }
  li {
    overflow: auto;
    color: #ff677b;
    &.active {
      background-color: #fff;
      .content-wrapper {
        display: block;
        @include media($tablet) { display: none; }
      }
    }
    &:last-child {
      @include omega;
    }
  }
}

.portfolio {
  width: 100%;

  ul {
    @include media($tablet) {
      display: table;
      width: 100%;
    }
  }

  li {
    padding: 20px;

    @include media($tablet) {
      display: table-cell;
      padding-right: 10px;
      padding-left: 10px;
      &:first-child {
        padding: 0;
        padding-right: 10px;
      }
      &:last-child {
        padding: 0;
        padding-left: 10px;
      }
    }
  }
}

.portfolio-wrapper {
  position: relative;
  z-index: 100;
  margin: -20px;
  @include media($tablet) {
    margin: 0;
  }
}

.portfolio-details {
  z-index: 100;
  display: none;
}

.portfolio-details-visible {
  @include media($tablet) {
    display: block;
  }
}

.quicknav {
  @extend .visible-tablet;
  @extend .text-center;
  margin: 60px 0;
}

.quicknav-close {
  display: none;
}

.blackbox {
  display: block;
  vertical-align: middle;
  // height: 14vw;
  // width: 14vw;
  background-color: #000;
  color: $highlight;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 900;
  padding: 70px 0;
}

.active .blackbox {
  margin-bottom: 0;
  color: #fff;
}

.facts-n-figures {
  @include outer-container;
  overflow: hidden;
  .row {
    @include row;
    margin: 30px 0;
    .figure {
      @include span-columns(3);
      font-family: 'Lato';
      text-align: right;
      white-space: nowrap;
      font-size: 40px;
      border-right: 1px solid #000;
      padding-right: 10px;
      line-height: 36px;
    }
    .fact {
      @include span-columns(9);
      color: #fff;
      font-weight: 300;
    }
  }
}

.me {
  width: 200px;
  height: 200px;
  position: relative;
  left: -50px;
}

.project-date {
  display: block;
}

.project {
  header h4 {
    font-size: 24px;
    margin: 0;
  }

  a {
    color: #ff5f84;
  }
}

footer {
  color: white;
  a {
    text-decoration: none;
    color: black;
  }
}

.cover {
  position:fixed; 
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background-color: white;
  z-index: 10;
  display: none;
}

.hidden-desktop {
  @include media($desktop) {
    display: none;
  }
}

.visible-desktop {
  display: none;
  @include media($desktop) {
    display: block;
  }
}

.hidden-tablet {
  @include media($tablet) {
    display: none;
  }
}

.visible-tablet {
  display: none;
  @include media($tablet) {
    display: block;
  }
}

.pull-right {
  @include media($desktop) {
    float: right;
  }
}
