<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width">
  <title>Jennifer Rahn</title>
  <link href="assets/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <link href='http://fonts.googleapis.com/css?family=Lato:900|Roboto+Slab:300' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="project" id="ajax-container">
  <p class="text-center hidden-tablet"><a href="" class="js-close-portfolio"><img src="assets/images/close.png"></a></p>
{{ content }}
</div>

</body>
</html>
